<?php
/**
 * @var $this Training\ShippingEvent\Block\FreeShipping
 */
?>
<div class="block" data-bind="scope: 'freeshipping'" id="freeshipping-banner">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
{
    "#freeshipping-banner": {
        "Magento_Ui/js/core/app": {
            "components": {
                "shippingevent": {
                    "component": "Training_ShippingEvent/js/freeshipping"
                }
            }
        }
    }
}
</script>
